# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
.idea/
*.egg-info/
dist/
build/
*.log
backend/gcp_cloudfunc/graceful-byway-467117-r0-ed86d9a9acf4.json
backend/gcp_cloudfunc/graceful-byway-467117-r0-e713f790f182.json
# React Native
node_modules/
npm-debug.log
yarn-error.log
.expo/
.expo-shared/
*.jks
*.keystore
*.iml
*.swp
*.swo

.env