--index-url https://pypi.org/simple/

# For Firebase/Firestore
google-cloud-firestore

# For Gemini API (Vertex AI)
google-cloud-aiplatform

# General GCP Functions Framework
functions-framework

google-cloud-storage

pillow

google-cloud-aiplatform